<div class="footer">
  <div class="footer-top d-flex justify-content-center">
    <div
      class="container-1062 d-flex align-items-center justify-content-center justify-content-md-center flex-wrap"
    >
      <div class="footer-top-left d-flex align-items-center">
        <img src="/assets/images/logo-light.png" alt="logo" />
        <h2 class="fs-3 fw-normal text-white">訂閱你我的甜蜜郵件</h2>
      </div>
      <div class="footer-top-right d-flex align-items-center">
        <label for="email"
          ><img src="/assets/images/email_24dp_3F5D45.png" alt="email"
        /></label>
        <input type="email" name="email" id="email" />
        <button>
          <img src="/assets/images/arrow_forward_24dp_3F5D45.png" alt="發送" />
        </button>
      </div>
    </div>
  </div>
  <div class="footer-main bg-success d-flex justify-content-center">
    <div class="container-1062 d-flex justify-content-between">
      <div class="footer-main-left">
        <img src="/assets/images/logotype-lg-dark.svg" alt="logo" />
        <p class="fw-normal lh-base">
          07-1234-5678 <br />
          sweetaste@email.com 800 <br />
          高雄市新興區幸福路 520 號
        </p>
      </div>

      <div class="footer-main-right d-none d-sm-block">
        <img
          src="/assets/images/sm-今天是個吃甜點的好日子.svg"
          alt="今天是個吃甜點的好日子"
        />
      </div>
    </div>
  </div>
  <div class="footer-bottom bg-success d-flex justify-content-center">
    <div
      class="container-1062 d-flex align-items-center justify-content-between flex-wrap"
    >
      <div class="footer-bottom-img d-flex">
        <a href="#"><img src="/assets/images/ic-line@.png" alt="line" /></a>
        <a href="#"
          ><img src="/assets/images/ic-facebook.png" alt="facebook"
        /></a>
      </div>
      <p class="fw-normal font-family-times">
        © 2018 Sweetaste* All Rights Reserved
      </p>
    </div>
  </div>
</div>
