<header class="navbar">
  <div class="container flex-nowrap">
    <div class="hamburger d-md-none d-lg-none">
      <input class="d-none" type="checkbox" id="switch" /><!--選單開關-->
      <label for="switch"
        ><!--漢堡按鈕圖示-->
        <div class="hamburger-tagger d-inline-block d-md-none">
          <i class="fa-sharp fa-solid fa-bars" style="color: #3f5d45"></i>
        </div>
      </label>
      <ul class="d-block d-md-none d-lg-none checked bg-success">
        <li>
          <a href="/dessert/pages/index.html">首頁</a>
        </li>
        <li>
          <a href="/dessert/pages/product.html">甜點</a>
        </li>
        <li>
          <a href="/dessert/pages/login.html">登入</a>
        </li>
      </ul>
    </div>

    <!-- 導覽頁右邊區域 -->
    <a class="navbar-brand" href="/dessert/pages/index.html">
      <img
        src="../assets/images/logo-dark.svg"
        alt=""
        class="logo-img d-none d-md-inline-block d-lg-inline-block align-text-top"
        width="40px"
        height="40px"
      />
      <img
        src="../assets/images/logotype-lg-dark.svg"
        alt=""
        class="logo d-inline-block align-text-top"
      />
    </a>
    <div class="d-flex flex-nowrap">
      <ul class="manu d-none d-md-flex d-lg-flex flex-nowrap">
        <li>
          <a href="/dessert/pages/index.html">首頁</a>
        </li>
        <li>
          <a href="/dessert/pages/product.html">甜點</a>
        </li>
        <li>
          <a href="/dessert/pages/login.html">登入</a>
        </li>
      </ul>
      <a href="/dessert/pages/cart.html"
        ><i class="fa-solid fa-cart-shopping"></i
      ></a>
    </div>
  </div>
</header>
