.navbar {
  padding: 0;
}
.sec-1 {
  position: relative;
  z-index: -2;
  padding: 0 42px;
  height: 496px;
  .container {
    background-size: cover;
    background-position: center center;
  }
}

//本日精選那欄

.sec-2 {
  margin-top: -90px;

  .container {
    .row {
      justify-content: center;
      .col-4 + .col-4 {
        border-left: 1px solid white;
      }
      .col-md-3 {
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        &:first-child {
          background-image: url(/assets/images/userlmn_786bcddd790b532b63f0c4b3b7d01c6e.png);
          background-size: cover;
        }
        &:nth-child(2) {
          background-image: url(/assets/images/userlmn_1e744b936c9164fe5810c5afc3133a11.png);
          background-size: cover;
        }

        &:last-child {
          background-image: url(/assets/images/userlmn_fe8fb095f65552ab75b5f5a1931b6ae8.png);
          background-size: cover;
        }
        a {
          color: $back-color;
          writing-mode: vertical-lr;
          letter-spacing: 5px;
          padding: 70.8px 0px;
          font-size: 24px;
          width: 100%;
          background-color: rgb(63, 93, 69, 0.8);
          display: flex;
          align-items: center;
        }
        &:hover {
          a {
            background-color: rgb(255, 225, 128, 0.8);
            color: $primary;
          }
        }
      }
    }
  }
}

//為甚麼要吃甜點
.pancake {
  width: 460px;
  margin-top: -24px;
  margin-bottom: -24px;

  img {
    object-fit: cover;
  }
}

.main-sec {
  margin: 80px 0;
  .container {
    height: 420px;
    .text {
      writing-mode: vertical-rl;
      line-height: 2.5em;
      padding: 70px 0;
      @media screen and (max-width: 875px) {
        line-height: 1.5em;
      }
    }
    .text-img {
      margin-top: -24px;
      margin-bottom: -24px;
      width: 88.94px;
      margin-left: 45px;
      @media screen and (max-width: 875px) {
        margin-left: 30px;
      }
      @media screen and (max-width: 645px) {
        margin-left: 10px;
      }
    }
  }
}

.sec-3 {
  picture {
    width: 88.94px;
    padding-bottom: 40px;
  }
}
.card {
  position: relative;
  border: 0;
  border-radius: 0;
  width: 300px;
  .heart-img {
    position: absolute;
    right: 22px;
    top: 19px;
    width: 24px;
  }
  .title {
    position: absolute;
    left: 20px;
    width: 36px;
    background-color: $primary;
    p {
      writing-mode: vertical-lr;
      letter-spacing: 4px;
      padding: 11px 10px 14px 10px;
      margin: 0;
    }
  }
  .img {
    height: 315px;
    img {
      border-radius: 0;
      object-fit: cover;
    }
  }
  .card-body {
    border: 1px solid $success;
    border-radius: 0;

    .card-container {
      p:first-child {
        padding-left: 37px;
        padding-right: 37px;
      }
      p:last-child {
        padding-left: 20px;
        padding-right: 20px;
        border-left: 1px solid $success;
      }
    }
  }
  a {
    border-radius: 0;
  }
}

.sec-4 {
  margin: 40px 0 60px 0;
}

@media screen and (max-width: 768px) {
  .pancake {
    width: auto;
    height: 250px;
    margin: 0;

    img {
      object-fit: cover;
    }
  }

  .main-sec {
    margin: 0;
    .container {
      padding: 0;
      height: auto;

      .text {
        writing-mode: horizontal-tb;
        line-height: 2.5em;
        padding: 30px;
        @media screen and (max-width: 875px) {
          line-height: 1.5em;
        }
      }
      .text-img {
        width: auto;
        margin: 0;
        background-color: $back-color;
        img {
          width: 196px;
          padding: 30px 0;
        }
      }
    }
  }

  .sec-3 {
    picture {
      width: 196px;
      padding: 30px 0;
    }
  }
  .sec-4 {
    margin-top: 0;
  }
}

//手機版本
@media screen and (max-width: 376px) {
  .sec-1 {
    padding: 0;
    height: 277px;
  }
  .sec-2 {
    margin-top: 0px;
    .container {
      padding: 0;
      margin: 0;
      .row {
        justify-content: left;
        padding: 0;
        margin: 0;
        .col-md-3 {
          margin: 0;
          a {
            padding: 32px 0;
          }
        }
      }
    }
  }
}
