<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>運送</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <div class="pb-sm-7">
      <div class="sec-1 d-flex m375-mh-518">
        <div
          class="container bg-img-checkout d-flex align-items-center justify-content-center"
        >
          <div>
            <div class="d-flex steps w-189">
              <div class="circle bg-white">
                <img
                  class="w-100"
                  src="/assets/images/check_24dp_3F5D45_FILL0_wght400_GRAD0_opsz24.png"
                  alt="check-img"
                />
              </div>
              <div class="circle bg-white">
                <img
                  class="w-100"
                  src="/assets/images/check_24dp_3F5D45_FILL0_wght400_GRAD0_opsz24.png"
                  alt="check-img"
                />
              </div>
              <div class="circle bg-white">
                <img
                  class="w-100"
                  src="/assets/images/check_24dp_3F5D45_FILL0_wght400_GRAD0_opsz24.png"
                  alt="check-img"
                />
              </div>
            </div>
            <img
              class="w-189 pt-6 pb-7"
              src="/assets/images/lg-付款成功.svg"
              alt="付款成功"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="container btn-checkout-success d-flex justify-content-center">
      <button class="pramary-btn fs-3 fw-bold py-3">
        <a class="w-100 d-inline-block" href="/dessert/index.html">繼續逛逛</a>
      </button>
    </div>

    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>
