<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>甜點店商</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="sec-1 d-flex">
      <div class="container bg-img-home"></div>
    </div>

    <div class="sec-2">
      <div class="container">
        <div class="row">
          <div class="col-4 col-md-3 text-center">
            <a href="#">本日精選</a>
          </div>
          <div class="col-4 col-md-3 text-center">
            <a href="#">人氣推薦</a>
          </div>
          <div class="col-4 col-md-3 text-center">
            <a href="#">新品上市</a>
          </div>
        </div>
      </div>
    </div>

    <!-- 為甚麼選擇了做甜點 -->
    <div class="main-sec bg-success">
      <div class="container">
        <div class="main d-md-flex h-100">
          <div
            class="text-img margin-24 order-md-last d-flex justify-content-center d-md-block"
          >
            <picture>
              <source
                srcset="/assets/images/sm-橫式-為什麼選擇了做甜點.svg"
                media="(max-width: 768px)"
              />
              <img
                src="/assets/images/lg-為什麼選擇了做甜點.svg"
                alt="為甚麼選擇做甜點"
              />
            </picture>
          </div>
          <div class="pancake margin-24">
            <img class="w-100 h-100" src="https://bit.ly/2xPn7Eq" alt="鬆餅" />
          </div>
          <div class="text h-100">
            <p class="fw-light h-100 text-secondary">
              青山依舊在，幾度夕陽紅。慣看秋月春風。一壺濁酒喜相逢，浪花淘盡英雄。是非成敗轉頭空，滾滾長江東逝水，白髮漁樵江渚上，古今多少事，都付笑談中。
            </p>
            <p class="fw-light h-100 text-secondary">
              是非成敗轉頭空，青山依舊在，幾度夕陽紅。白髮漁樵江渚上，古今多少事，都付笑談中。
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- 為甚麼一定要吃甜點 -->
    <div class="main-sec bg-success">
      <div class="container">
        <div class="main d-md-flex h-100">
          <div
            class="text-img d-flex justify-content-center d-md-block ms-md-4 me-md-3"
          >
            <picture>
              <source
                srcset="/assets/images/sm-橫式-為什麼選擇了做甜點.svg"
                media="(max-width: 768px)"
              />
              <img
                src="/assets/images/lg-為什麼一定要吃甜點.svg"
                alt="為甚麼選擇做甜點"
              />
            </picture>
          </div>
          <div class="pancake margin-24">
            <img class="w-100 h-100" src="https://bit.ly/2zzAQS4" alt="麥片" />
          </div>
          <div class="text h-100 order-md-first">
            <p class="fw-light h-100 text-secondary">
              青山依舊在，幾度夕陽紅。慣看秋月春風。一壺濁酒喜相逢，浪花淘盡英雄。是非成敗轉頭空，滾滾長江東逝水，白髮漁樵江渚上，古今多少事，都付笑談中。
            </p>
            <p class="fw-light h-100 text-secondary">
              是非成敗轉頭空，青山依舊在，幾度夕陽紅。白髮漁樵江渚上，古今多少事，都付笑談中。
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="sec-3 d-flex justify-content-center">
      <picture>
        <source
          srcset="/assets/images/sm-橫式-想吃甜點是不需要理由的.svg"
          media="(max-width: 768px)"
        />
        <img
          src="/assets/images/lg-想吃甜點是不需要理由的.svg"
          alt="為甚麼選擇做甜點"
        />
      </picture>
    </div>

    <div class="sec-4">
      <div class="container">
        <div class="row g-3">
          <div class="col">
            <div class="card">
              <div class="heart-img">
                <img
                  class="w-100"
                  src="/assets/images/favorite_border_24dp_3F5D45.png"
                  alt="愛心"
                />
              </div>
              <div class="title">
                <p class="text-white w-100 fw-normal">本日精選</p>
              </div>
              <div class="img">
                <img
                  src="https://bit.ly/2zBjQuq"
                  class="card-img-top w-100 h-100"
                  alt="甜甜圈"
                />
              </div>
              <div class="card-body p-0">
                <div
                  class="card-container d-flex flex-nowrap justify-content-between"
                >
                  <p class="card-text fs-2 fw-normal text-primary m-0 py-3">
                    焦糖瑪卡龍
                  </p>
                  <p class="card-text fs-2 text-primary m-0 py-3">NT$ 450</p>
                </div>
                <a
                  href="#"
                  class="btn btn-success fs-3 fw-bold text-primary w-100"
                  >加入購物車</a
                >
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="heart-img">
                <img
                  class="w-100"
                  src="/assets/images/favorite_border_24dp_3F5D45.png"
                  alt="愛心"
                />
              </div>
              <div class="title">
                <p class="text-white w-100 fw-normal">本日精選</p>
              </div>
              <div class="img">
                <img
                  src="https://bit.ly/2zBDAxX"
                  class="card-img-top w-100 h-100"
                  alt="蛋糕"
                />
              </div>
              <div class="card-body p-0">
                <div
                  class="card-container d-flex flex-nowrap justify-content-between"
                >
                  <p class="card-text fs-2 fw-normal text-primary m-0 py-3">
                    焦糖瑪卡龍
                  </p>
                  <p class="card-text fs-2 text-primary m-0 py-3">NT$ 450</p>
                </div>
                <a
                  href="#"
                  class="btn btn-success fs-3 fw-bold text-primary w-100"
                  >加入購物車</a
                >
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="heart-img">
                <img
                  class="w-100"
                  src="/assets/images/favorite_border_24dp_3F5D45.png"
                  alt="愛心"
                />
              </div>
              <div class="title">
                <p class="text-white w-100 fw-normal">本日精選</p>
              </div>
              <div class="img">
                <img
                  src="https://bit.ly/2QbVsVR"
                  class="card-img-top w-100 h-100"
                  alt="優格"
                />
              </div>
              <div class="card-body p-0">
                <div
                  class="card-container d-flex flex-nowrap justify-content-between"
                >
                  <p class="card-text fs-2 fw-normal text-primary m-0 py-3">
                    焦糖瑪卡龍
                  </p>
                  <p class="card-text fs-2 text-primary m-0 py-3">NT$ 450</p>
                </div>
                <a
                  href="#"
                  class="btn btn-success fs-3 fw-bold text-primary w-100"
                  >加入購物車</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
