<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>甜點</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <div class="sec-1 d-flex">
      <div
        class="container bg-img-product d-flex justify-content-end align-items-start"
      >
        <picture class="pro-banner-img d-flex justify-content-end">
          <source
            srcset="/assets/images/sm-想吃甜點是不需要理由的.png"
            media="(max-width: 376px)"
          />
          <img
            src="/assets/images/lg-想吃甜點是不需要理由的.svg"
            alt="想吃甜點是不需要理由的"
          />
        </picture>
      </div>
    </div>
    <section>
      <div class="container py-60">
        <div class="row">
          <div class="col-12 col-lg-4">
            <div class="d-flex flex-column align-items-center bg-primary">
              <h2 class="text-white fs-3 p-20">甜點類別</h2>
            </div>
            <ul class="border border-1 border-success">
              <li
                class="d-flex flex-column align-items-center bg-success p-20 fs-3 border border-1 border-success"
              >
                <a href="#">所有甜點（48）</a>
              </li>
              <li
                class="d-flex flex-column align-items-center p-20 fs-3 border border-1 border-success"
              >
                <a href="#">本日精選（10）</a>
              </li>
              <li
                class="d-flex flex-column align-items-center p-20 fs-3 border border-1 border-success"
              >
                <a href="#">人氣推薦（26）</a>
              </li>
              <li
                class="d-flex flex-column align-items-center p-20 fs-3 border border-1 border-success"
              >
                <a href="#">新品上市（12）</a>
              </li>
            </ul>
          </div>

          <div class="mx-375-px30 col-12 col-lg-8 py-4 py-lg-0">
            <div class="row g-3">
              <div
                class="col-12 col-sm-6 col-lg-6 d-flex justify-content-center justify-content-sm-end"
              >
                <div class="card">
                  <div class="heart-img">
                    <img
                      class="w-100"
                      src="/assets/images/favorite_border_24dp_3F5D45.png"
                      alt="愛心"
                    />
                  </div>
                  <div class="title">
                    <p class="text-white w-100 fw-normal">本日精選</p>
                  </div>
                  <div class="img">
                    <img
                      src="https://bit.ly/2QiWeQW"
                      class="card-img-top w-100 h-100"
                      alt="優格"
                    />
                  </div>
                  <div class="card-body p-0">
                    <div
                      class="card-container d-flex flex-nowrap justify-content-between"
                    >
                      <p class="card-text fs-2 fw-normal text-primary m-0 py-3">
                        焦糖瑪卡龍
                      </p>
                      <p class="card-text fs-2 text-primary m-0 py-3">
                        NT$ 450
                      </p>
                    </div>
                    <a
                      href="#"
                      class="btn btn-success fs-3 fw-bold text-primary w-100"
                      >加入購物車</a
                    >
                  </div>
                </div>
              </div>
              <div
                class="col-12 col-sm-6 col-lg-6 justify-content-center d-flex justify-content-sm-start"
              >
                <div class="card">
                  <div class="heart-img">
                    <img
                      class="w-100"
                      src="/assets/images/favorite_border_24dp_3F5D45.png"
                      alt="愛心"
                    />
                  </div>
                  <div class="title">
                    <p class="text-white w-100 fw-normal">本日精選</p>
                  </div>
                  <div class="img">
                    <img
                      src="https://bit.ly/2zBjQuq"
                      class="card-img-top w-100 h-100"
                      alt="甜甜圈"
                    />
                  </div>
                  <div class="card-body p-0">
                    <div
                      class="card-container d-flex flex-nowrap justify-content-between"
                    >
                      <p class="card-text fs-2 fw-normal text-primary m-0 py-3">
                        焦糖瑪卡龍
                      </p>
                      <p class="card-text fs-2 text-primary m-0 py-3">
                        NT$ 450
                      </p>
                    </div>
                    <a
                      href="#"
                      class="btn btn-success fs-3 fw-bold text-primary w-100"
                      >加入購物車</a
                    >
                  </div>
                </div>
              </div>
              <div
                class="col-12 col-sm-6 col-lg-6 d-flex justify-content-center justify-content-sm-end"
              >
                <div class="card">
                  <div class="heart-img">
                    <img
                      class="w-100"
                      src="/assets/images/favorite_border_24dp_3F5D45.png"
                      alt="愛心"
                    />
                  </div>
                  <div class="title">
                    <p class="text-white w-100 fw-normal">本日精選</p>
                  </div>
                  <div class="img">
                    <img
                      src="https://bit.ly/2zKOP7w"
                      class="card-img-top w-100 h-100"
                      alt="蔓越莓派"
                    />
                  </div>
                  <div class="card-body p-0">
                    <div
                      class="card-container d-flex flex-nowrap justify-content-between"
                    >
                      <p class="card-text fs-2 fw-normal text-primary m-0 py-3">
                        焦糖瑪卡龍
                      </p>
                      <p class="card-text fs-2 text-primary m-0 py-3">
                        NT$ 450
                      </p>
                    </div>
                    <a
                      href="#"
                      class="btn btn-success fs-3 fw-bold text-primary w-100"
                      >加入購物車</a
                    >
                  </div>
                </div>
              </div>
              <div
                class="col-12 col-sm-6 col-lg-6 d-none d-sm-flex justify-content-sm-start"
              >
                <div class="card">
                  <div class="heart-img">
                    <img
                      class="w-100"
                      src="/assets/images/favorite_border_24dp_3F5D45.png"
                      alt="愛心"
                    />
                  </div>
                  <div class="title">
                    <p class="text-white w-100 fw-normal">本日精選</p>
                  </div>
                  <div class="img">
                    <img
                      src="https://bit.ly/2NcDVuB"
                      class="card-img-top w-100 h-100"
                      alt="吐司"
                    />
                  </div>
                  <div class="card-body p-0">
                    <div
                      class="card-container d-flex flex-nowrap justify-content-between"
                    >
                      <p class="card-text fs-2 fw-normal text-primary m-0 py-3">
                        焦糖瑪卡龍
                      </p>
                      <p class="card-text fs-2 text-primary m-0 py-3">
                        NT$ 450
                      </p>
                    </div>
                    <a
                      href="#"
                      class="btn btn-success fs-3 fw-bold text-primary w-100"
                      >加入購物車</a
                    >
                  </div>
                </div>
              </div>
              <div
                class="col-12 col-sm-6 col-lg-6 d-none d-sm-flex justify-content-sm-end"
              >
                <div class="card">
                  <div class="heart-img">
                    <img
                      class="w-100"
                      src="/assets/images/favorite_border_24dp_3F5D45.png"
                      alt="愛心"
                    />
                  </div>
                  <div class="title">
                    <p class="text-white w-100 fw-normal">本日精選</p>
                  </div>
                  <div class="img">
                    <img
                      src="https://bit.ly/2zBDAxX"
                      class="card-img-top w-100 h-100"
                      alt="野莓蛋糕"
                    />
                  </div>
                  <div class="card-body p-0">
                    <div
                      class="card-container d-flex flex-nowrap justify-content-between"
                    >
                      <p class="card-text fs-2 fw-normal text-primary m-0 py-3">
                        焦糖瑪卡龍
                      </p>
                      <p class="card-text fs-2 text-primary m-0 py-3">
                        NT$ 450
                      </p>
                    </div>
                    <a
                      href="#"
                      class="btn btn-success fs-3 fw-bold text-primary w-100"
                      >加入購物車</a
                    >
                  </div>
                </div>
              </div>
              <div
                class="col-12 col-sm-6 col-lg-6 d-none d-sm-flex justify-content-sm-start"
              >
                <div class="card">
                  <div class="heart-img">
                    <img
                      class="w-100"
                      src="/assets/images/favorite_border_24dp_3F5D45.png"
                      alt="愛心"
                    />
                  </div>
                  <div class="title">
                    <p class="text-white w-100 fw-normal">本日精選</p>
                  </div>
                  <div class="img">
                    <img
                      src="https://bit.ly/2zL5jN7"
                      class="card-img-top w-100 h-100"
                      alt="冰淇淋"
                    />
                  </div>
                  <div class="card-body p-0">
                    <div
                      class="card-container d-flex flex-nowrap justify-content-between"
                    >
                      <p class="card-text fs-2 fw-normal text-primary m-0 py-3">
                        焦糖瑪卡龍
                      </p>
                      <p class="card-text fs-2 text-primary m-0 py-3">
                        NT$ 450
                      </p>
                    </div>
                    <a
                      href="#"
                      class="btn btn-success fs-3 fw-bold text-primary w-100"
                      >加入購物車</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="py60-30">
      <div
        class="container d-flex justify-content-center justify-content-sm-end"
      >
        <ul
          class="d-flex align-items-center pro-tabs border border-1 border-success"
        >
          <li class="d-flex">
            <a href="#"
              ><img
                class="arrow"
                src="/assets/images/arrow_left_24dp_3F5D45_FILL0_wght400_GRAD0_opsz24.png"
                alt=""
            /></a>
          </li>
          <li class="d-flex bg-primary">
            <a class="text-white" href="#">1</a>
          </li>
          <li class="d-flex"><a href="#">2</a></li>
          <li class="d-flex"><a href="#">3</a></li>
          <li class="d-flex">
            <a href="#"
              ><img
                class="arrow"
                src="/assets/images/arrow_right_24dp_3F5D45_FILL0_wght400_GRAD0_opsz24.png"
                alt=""
            /></a>
          </li>
        </ul>
      </div>
    </section>
    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>
